asttokens==2.0.5
backcall==0.2.0
decorator==5.1.1
executing==0.8.3
ipython==8.12.2
jedi==0.18.1
matplotlib-inline==0.1.6
numpy==1.25.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
onnx==1.14.0
opencv-python==4.8.0.76
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pip==23.2.1
prompt-toolkit==3.0.36
protobuf==4.24.1
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.15.1
setuptools==68.0.0
six==1.16.0
stack-data==0.2.0
tensorrt==8.5.1.7
torch==1.13.0
onnxruntime-gpu==1.12.0